.swapPage {
    position: relative;
    width: 1440px;
    height: 800px;
    background: #FFFFFF;
    margin: auto;
    .innerContainer {
        position: relative;
        width: 960px;
        margin: auto;
        .cryptoBalances {
            position: absolute;
            height: 264px;
            left: 0%;
            top: 90px;
        }
        .cryptoSwap {
            position: absolute;
            left: calc(50% - 333px/2 + 289.5px);
            top: 90px;
        }
    }
}